* {
    font-family: 'Times New Roman', serif;
}

header {
    position: fixed;
    background-color: aqua;
    z-index: 1;
    width: 100%;
    top: 0;
}

footer {
    position: fixed;
    background-color: pink;
    z-index: 1;
    width: 100%;
}

.navbar {
    display: inline;
    text-align: right;
}

#welcomeimage {
    position: relative;
    left: 380px;
    top: 62px;
}

#welcometext {
    color: red;
}

#signinhere {
    text-align: center;
}
